:root {
    --primary-color: #68acdd;
    --nav-background-color: rgba(104, 172, 221, 0.1);
    --secondary-color: #f0f0f0;
    --text-color: #333;
    --text-color-light: #f5f5f5;
    --hover-color: #5798c7;
    --animation-duration: 0.8s;
}

body {
    background-image: url("./Design\ Assets/background-image.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
    color: var(--text-color-light);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

nav {
    background-color: var(--nav-background-color);
    padding: 15px 0;
    width: 100%;
    max-width: 500px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

nav .nav-button {
    background-color: transparent;
    color: var(--text-color-light);
    border: none;
    padding: 12px 25px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    position: relative;
}

nav .nav-button:hover {
    /* background-color: var(--hover-color); */
    border-bottom: 5px solid var(--hover-color);
    color: white;
    transform: translateY(-2px);
}

nav .nav-button.active {
    /* background-color: var(--primary-color); */
    border-bottom: 5px solid var(--hover-color);
    
    color: white;
    font-weight: bold;
}

#home-page {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

#intro {
    text-align: center;
}

#intro-heading {
    font-size: 3.5rem;
    color: var(--text-color-light);
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeInUp var(--animation-duration) ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    nav {
        width: 90%;
        margin-top: 20px;
    }

    nav .nav-button {
        font-size: 16px;
        padding: 10px 15px;
        margin: 0 5px;
    }

    #intro-heading {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    nav {
        border-radius: 30px;
    }
    nav .nav-button {
        font-size: 14px;
        padding: 8px 10px;
    }
    #intro-heading {
        font-size: 2rem;
    }
}
